.row{
    display: flex;
    justify-content: center;
    width: 50%;
}
.Footer{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 23px;
}
.Footer ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 15px;
    font-family: poppins;
    width: 75%;
}
.Footer ul li a{
    color: #6B7280;
    font-size: 15px;
}
@media only screen and (max-width:1300px){
    .Footer{
        margin: 0px;
    }
    .Footer ul li a{
        font-size: 12px;
    }
}
@media only screen and (max-width:1000px){
    .Footer{
        width: 50%;
    }
    .Footer ul{
        width: 100%;
    }
}
@media only screen and (max-width:800px){
    .Footer{
        height: 100px;
        width: 100%;
    }
    .Footer ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}